/*ARTICLES*/
.flex-article {
  display: flex;
  flex-direction: column;
}
.jumbotron {
  border: 1px solid black;
  flex: 6;
}
.client-1 {
  align-self: flex-end;
  flex: 3;
  background-color: rgb(241, 241, 121);
  border-radius: 4px;
  opacity: 60%;
  padding: 35px;
  margin-top: 10%;
  font-size: 1.4rem;
  width: 60%;
}
.client-2 {
  flex: 1;
  background-color: rgb(241, 241, 121);
  border-radius: 4px;
  opacity: 60%;
  padding: 35px;
  margin-top: 10%;
  font-size: 1.4rem;
  width: 80%;
}
