/*ARTICLES*/

form {
  height: 60vh;
}
.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}
.form-second {
  margin-left: 5rem;
}
label {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}
input,
textarea {
  display: block;
  border: 2px solid lightgray;
  border-radius: 4px;
  width: 15vw;
  padding: 12px 20px;
  margin: 8px 0;
}
input[type="text"] {
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="email"] {
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea[type="text"] {
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea#comments {
  height: 35vh;
}
input[placeholder] {
  text-align: start;
}
input[type="submit"] {
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid black;
}
