.wrapper {
    border : orange solid 40px;
}
* {
    font-family: 'Ubuntu', sans-serif;
    color : grey;
}

#logo {
    padding: 10px 10px 10px;
}
#nav-contact {
    padding: 10px 10px 10px;
}
#menu {
    display : flex;
    flex-flow: row-wrap;
    justify-content: space-between;
}

#nav { 
    display : flex;
}

.container-form {
    display: flex;
    justify-content: center;
}

input {
    width: 30vw;
    margin: 1rem;
    padding: 1rem;
}
input[placeholder] {
    font-size: 1.2rem;
}
label {
    font-size: 1.5rem;
}
.submit {
    max-width: 10vw;
    text-align: center;
}